{% extends 'plainte/base.html' %}
{% load static %} 

{% block title %}Accueil{% endblock %}

{% block content %}
    <!-- Arrière-plan avec dégradé et image floue -->
    <div class="background-container">
        <div class="background-overlay"></div>
        <img src="{% static 'images/a4.jpg' %}" class="background-image" alt="Image de fond">
    </div>

    <div class="container text-center animate__animated animate__fadeIn">
        <h1 class="mb-4 animate__animated animate__bounceIn">Bienvenue sur la Plateforme de Gestion Citoyenne</h1>

        {% if user.is_authenticated %}
            <p class="text-white">Bienvenue, {{ user.username }} !</p>
            <a href="{% url 'logout' %}" class="btn btn-danger btn-lg animate__animated animate__fadeInUp">Se déconnecter</a>
            <a href="{% url 'liste_plainte' %}" class="btn btn-primary btn-lg animate__animated animate__fadeInUp">Voir les plaintes</a>
        {% else %}
            <a href="{% url 'login' %}" class="btn btn-success btn-lg animate__animated animate__fadeInUp">Connexion</a>
            <a href="{% url 'inscription' %}" class="btn btn-warning btn-lg animate__animated animate__fadeInUp">Inscription</a>
        {% endif %}
    </div>
{% endblock %}