{% extends 'plainte/base.html' %}
{% load static %} 
{% block title %}Liste des Plaintes{% endblock %}

{% block content %}
    <!-- Arrière-plan léger -->
    <div class="background-container-light">
        <div class="background-overlay-light"></div>
    </div>

    <div class="container mt-4">
        <h1 class="text-center mb-4 animate__animated animate__bounceIn">Liste des Plaintes</h1>
        <table class="table table-striped table-bordered animate__animated animate__fadeIn">
            <thead class="table-dark">
                <tr>
                    <th>id</th>
                    <th>titre</th>
                    <th>statut</th>
                    <th>categorie</th>
                    <th>description</th>
                    <th>option</th>
                </tr>
            </thead>
            <tbody>
                {% for plainte in plaintes %}
                <tr class="animate__animated animate__fadeInUp">
                    <td>{{ plainte.id }}</td>
                    <td>{{ plainte.titre }}</td>
                    <td>{{ plainte.statut }}</td>
                    <td>{{ plainte.categorie }}</td>
                    <td>{{ plainte.description }}</td>
                    <td>
                        <a href="{% url 'modifier_plainte' plainte.id %}" class="btn btn-warning btn-sm">Modifier</a>
                        <a href="{% url 'supprimer_plainte' plainte.id %}" class="btn btn-danger btn-sm">Supprimer</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}