{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Connexion</title>
    <link rel="stylesheet" href="{% static 'css/inscription.css' %}">
</head>
<body>
    <div class="container">
        <h1>Connexion</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Se connecter</button>
        </form>
        <p>Pas encore inscrit ? <a href="{% url 'inscription' %}">Créer un compte</a></p>
        <a href="{% url 'accueil' %}" type="submit">Retour</a>
    </div>
</body>
</html>
